<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong>{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" action="/_check"> <!--Removes method="POST" from here-->
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <!--<input type="submit" name="try" /> -->
  </form>
  
</div></div>

<br />

{% if session.matches|length is not equalto 0  %}
<h2>You found </h2>
<p id="results">
  {% for match in session.matches %}
  {{ match }} 
  {% endfor %}
</p>
{% endif %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <!-- Mismatch, already found, etc. "flashed" from Python -->
    {% for message in messages %}
      <p class="message">{{ message }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}
<h2 id="matches"></h2>
<p id="matchlist"></p>

<p id="response"></p>   <!-- Mismatch, already found, etc. "flashed" from Python -->

<script>



// Supress Normal submition, from minijax.html
$("#entry").submit( function(event) {
   event.preventDefault();
  });


$("#attempt").keyup(function(event) { // Watches for Keyup
   var txt = $("#attempt").val(); // set txt to value of attempt in textbox
   var key_letter = event.which;
   var letter = String.fromCharCode(key_letter);
 
  if (! "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890-=[]';.,/~!@#$%^&*()_+}{:<>?".includes(letter)) { return } // If not a valid letter

  $.getJSON("/_check", {text: txt}, // Check if txt (now text) is valid.
    function(data) {
      result_value = data.result.ifSolved; // Change this to check something.
      text = data.result.thetext; // Text
      jumble = data.result.jumble; // Set of jumbed character
      matches = data.result.matches; // List of found matching chars
      in_jumble = data.result.in_jumble; // if text has all chars from jumbled
      matched = data.result.matched; // Valid word, add to matches
      // I had a hard time working with flask.flash trying to get it to work
      // So I resorted to having logic here.

      console.log("text: "+ text);
      console.log("result_value: "+ result_value);
      console.log("valid word: " + matched);
      
      // Enable found Matching
      if (matches.length != 0){
        $("#matches").html(`You found`)
      }
      
      if (!in_jumble) { // if not in letters
        $("#response").html(`${text} can\'t be made from the letters ${jumble}`);
        $("#attempt").val(text.substring(0, text.length-1));
      }
      else if (matches.includes(text)) {
        $("#response").html(`You already found ${text}`);
        $("#matchlist").html(`${matches}`);
        $("#attempt").val('');
      }
      else if (matched && in_jumble) {
        $("#response").html(`You found ${text}!`);
        $("#matchlist").html(`${matches}`);
        //$("#attempt").val(' ');
      }
      else if (!matched) { // If not matched
        $("#response").html(`${text} isn't in the list of words`);
      }

      if (result_value) {
        location = "/success"; // Suggestion from Arjuin on MS Teams
      }

      }
    );
  });
</script>


 </div> <!-- container -->
</body> </html>
